In [1]:
import pandas as pd
import requests

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [8]:
# response.json()['results']
pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,157.803,8.700,26584
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,255.895,8.690,20178
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,86.816,8.575,12176
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,154.655,8.565,15581
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,69.071,8.544,8426
5,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,90.993,8.500,4410
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,115.479,8.537,16188
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,151.138,8.515,32334
8,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,86.892,8.507,17852
9,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,102.308,8.505,17068
10,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,108.689,8.488,11162
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,101.260,8.487,27462
12,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-01,112.693,8.481,23732
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,101.998,8.474,26975
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,133.413,8.500,8414
15,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,81.084,8.463,12606
16,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,53.086,8.461,3576
17,667257,Impossible Things,"After the death of her abusive husband, Matild...",2021-06-17,29.197,8.458,380
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.043,8.458,5345
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,50.249,8.451,12841

In [12]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [17]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df,temp_df],ignore_index=True)
    # temp_df

In [18]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,157.803,8.700,26584
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,255.895,8.700,20178
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,86.816,8.575,12176
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,154.655,8.565,15581
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,69.071,8.543,8428
...,...,...,...,...,...,...,...
8555,302150,The Hunter's Prayer,An assassin forges an unlikely partnership wit...,2017-06-08,11.994,5.700,376
8556,118957,Bait,A freak tsunami traps shoppers at a coastal Au...,2012-09-05,95.893,5.664,726
8557,9292,Hudson Hawk,"Eddie Hawkins, called Hudson Hawk has just bee...",1991-05-23,26.031,5.664,961
8558,193687,Z for Zachariah,"In the wake of a nuclear war, a young woman su...",2015-08-13,28.679,5.700,909
8559,11066,Boomerang,Marcus is a successful advertising executive w...,1992-06-30,24.635,5.663,553

In [19]:
df.to_csv('movies.csv')